body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, rgba(255,0,0,0), #A3CAE9)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --form-color: rgba(128, 128, 128, 0.1);
  --primary-color: #0000FF;
  --bg-grey-color: #EAECED;
  --bg-blue-color: #6E9FC0;
  --btn-blue-color: #39597E;
  --table-bg-color: #ffffff;
  --grey-line-color: #ACACAC;
}

